html {
  line-height: 1.15; /* 1 */
  text-size-adjust: 100%; /* 2 */
}

.kl-trigger{
  line-height: 1.5715;
  white-space: normal;
  overflow-wrap: anywhere;
}

.popper-content-ellipsis{
  position: absolute;
  max-width: 38ch;
  padding: 5px 11px;
  font-size: 12px;
  line-height: 20px;
  word-wrap: break-word;
  border-radius: 4px;
  visibility: visible;
  overflow-wrap: break-word;
  
  &.is-dark {
    color: #fff;
    background: #303133;
    border: 1px solid #303133;
  }
  
  &.is-light {
    background: #fff;
    border: 1px solid #e4e7ed;
  }
    
  
}
  
.kl-popper__arrow{
  z-index: -1;
  width: 10px;
  height: 10px;
  
  &::before{
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 10px;
    background: #303133;
    content: " ";
    transform: rotate(45deg);
    box-sizing: border-box;
  }
}
  
  
  
  
  
  
.popper-content-ellipsis.is-dark .kl-popper__arrow::before {
  right: 0;
  background: #303133;
  border: 1px solid #303133;
}
  
.popper-content-ellipsis.is-light .kl-popper__arrow::before {
  right: 0;
  background: #fff;
  border: 1px solid #e4e7ed;
}
  
.popper-content-ellipsis[data-popper-placement^=bottom] .kl-popper__arrow{
  top: -5px;
}
  
.popper-content-ellipsis[data-popper-placement^=bottom] .kl-popper__arrow::before{
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-left-radius: 2px;
}
  
.popper-content-ellipsis[data-popper-placement^=top] .kl-popper__arrow {
  bottom: -5px;
}
  
.popper-content-ellipsis[data-popper-placement^=top] .kl-popper__arrow::before {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-right-radius: 2px;
}
  
  
  
  
.popper-content-ellipsis[data-popper-placement^=left] .kl-popper__arrow {
  right: -5px;
   
}
  
.popper-content-ellipsis[data-popper-placement^=left] .kl-popper__arrow::before {
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-top-right-radius: 2px;
}
  
  
  
.popper-content-ellipsis[data-popper-placement^=right]>.kl-popper__arrow {
  left: -5px;
}
  
.popper-content-ellipsis[data-popper-placement^=right] .kl-popper__arrow::before {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-left-radius: 2px;
}